body {
  height: 100vh;
  margin: 0;
  display: flex;
}
.switchContainer {
  position: relative;
  width: 400px;
  height: 200px;
  border-radius: 100px;
  margin: auto auto;
  transition: ease-in-out 600ms;
  background: url("./imgs/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 100%;
  z-index: 1;
  overflow: hidden;
}
.switchButton {
  position: relative;
  width: 160px;
  height: 160px;
  transition: ease-in-out 600ms;
  background: url("./imgs/sun.png");
  background-size: 140%;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 80px;
  box-shadow: 0px 0px 3px 1px rgb(252 192 9);
  left: 4%;
  transform: translateY(12%);
  cursor: pointer;
  user-select: none;
  z-index: 3;
}
.switchButton:focus {
  outline: none;
}
.off {
  left: 56%;
  transition: ease-in-out 600ms;
  background: url("./imgs/moon.png");
  box-shadow: 0px 0px 3px 1px rgb(255, 255, 255);
  background-size: 110%;
  background-position: 50%;
}
.containerOff {
  transition: ease-in-out 600ms;
  background: url("./imgs/nightSky.png");
  background-size: 200%;
  background-position: 100%;
}
.rocket {
  display: inline-block;
  position: relative;
  width: 13%;
  height: 25%;
  transform: translate(780%, -40%) rotate(10deg);
}
.astronaut {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 35%;
  transform: translate(-70%, -30%) rotateY(180deg);
}
.Rup {
  position: absolute;
  animation: moveAround 3s normal linear;
  animation-delay: 1500ms;
  cursor: default;
}
.Aup {
  position: absolute;
  transform: translateX(-40%) rotateY(90deg);
  animation: moveAroundA 3s normal linear;
  animation-delay: 1500ms;
  cursor: default;
}
@keyframes moveAround {
  0% {
    transform: translate(600%, -40%) rotate(10deg);
  }
  100% {
    transform: translate(25%, -270%) rotate(-50deg);
  }
}
@keyframes moveAroundA {
  0% {
    transform: translate(-70%, -30%) rotateY(180deg);
  }
  100% {
    transform: translate(290%, -200%) rotateY(180deg) rotate(-30deg);
  }
}
