:root {
  --swCw: 10em;
}
body {
  height: 100vh;
  margin: 0;
  display: flex;
}
.switchContainer {
  position: relative;
  width: var(--swCw);
  height: calc(var(--swCw)/2);
  border-radius: calc(var(--swCw)/4);
  margin: auto auto;
  transition: ease-in-out 600ms;
  background: url("./imgs/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: 100%;
  z-index: 1;
  /* overflow: hidden; */
}
.switchButton {
  position: relative;
  width: calc(var(--swCw)/2.5);
  height: calc(var(--swCw)/2.5);
  transition: ease-in-out 600ms;
  background: url("./imgs/sun.png");
  background-size: 140%;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 80px;
  box-shadow: 0px 0px 3px 1px rgb(252 192 9);
  left: 4%;
  transform: translateY(12%);
  cursor: pointer;
  user-select: none;
  z-index: 3;
}
.switchButton:focus {
  outline: none;
}
.off {
  left: 56%;
  transition: ease-in-out 600ms;
  background: url("./imgs/moon.png");
  box-shadow: 0px 0px 3px 1px rgb(255, 255, 255);
  background-size: 110%;
  background-position: 50%;
}
.containerOff {
  transition: ease-in-out 600ms;
  background: url("./imgs/nightSky.png");
  background-size: 200%;
  background-position: 100%;
}
.rocket {
  position: absolute;
  transform: translate(10em, -.4em) rotate(10deg);
  display: inline-block;
  width: calc(var(--swCw)/4.8);
  height:calc(var(--swCw)/4.8);
}
.astronaut {
  position: absolute;
  transform: translate(-2.5em, -0.7em) rotateY(180deg);
  display: inline-block;
  width: calc(var(--swCw)/3);
  height:calc(var(--swCw)/3.5);
}
.Rup {
  animation: moveAround 3s normal linear;
  animation-delay: 1500ms;
  cursor: default;
}
.Aup {
  position: absolute;
  animation: moveAroundA 3s normal;
  animation-delay: 1500ms;
  cursor: default;
}
@keyframes moveAround {
  0% {
    transform: translate(--swCw, calc(--swCw*0.04)em) rotate(10deg);
  }
  100% {
    transform: translate(2em, -3.3em) rotate(-38deg);
  }
}
@keyframes moveAroundA {
  0% {
    transform: translate(-2.5em, -0.7em) rotateY(180deg);
  }
  100% {
    transform: translate(6em, -3.8em) rotateY(180deg) rotate(-30deg);
  }
}
